<head>
    <link rel="stylesheet" href="/styles.css">
</head>
<nav>
    <h2>File Uploader</h2>
    <div class="navigation">
        <h3><a href="/sign-up">Sign Up</a></h3>
        <h3><a href="/login">Login</a></h3>
    </div>
</nav>