<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="/"><h3>File Uploader | Welcome <%- currentUser %></h3></a>
        <div class="navigation">
            <h3><a href="/logout">Log out</a></h3>
        </div>
    </nav>
    
    <label for="avatar">Choose a file to upload:</label><br />
    <input id="avatar" type="file" name="avatar" accept="image/png, image/jpeg" />

    <%- include('footer') %>
</body>
</html>