*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

.githubIcon {
    width: 1rem;
    height: 1rem;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
* {
    /* border:1px dotted red; */
}
a.githubLink {
    color:rgb(73, 73, 73);
    text-decoration: none;
}
a {
    /* color: #e8f0fe; */
    text-decoration: none;
}
.footerText {
    color: rgb(73, 73, 73);
    display: flex;
}
.githubLink {
    display: flex;
    align-items: center;
    text-align: center;
}
footer {

    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;

    margin-top: auto;
    margin-bottom: 0.6vw;
}

nav {
    border: 5px solid white;
    border-radius: 8px;
    /* width: 100%; */
    margin: 2rem 1rem;
    color: white;
    padding: 1rem 1rem;
    font-family:sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1a73e8; 
    border-color: #88acec; 
}
nav a {
    text-decoration: none;
    color: white;
}
.navigation {
    display: flex;
    gap: 3rem;
}

input {
  margin-top: 1rem;
}

input::file-selector-button {
  font-weight: bold;
  color: dodgerblue;
  padding: 0.5em;
  border: thin solid grey;
  border-radius: 3px;
}

.uploadfilesfolder {
    display: flex;
    gap: 2.4vw;
}

dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h2 {
    margin-left: auto;
    margin-right: auto;
}

.uploadfilesfolder {
    margin-top: 2vw;
    margin-left: auto;
    margin-right: auto;
}

.contents {
    margin-top: 1vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

h2 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.filecontainer {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.manipulatefile {
  margin-top: 2vw;
  display: flex;
  gap: 2vw;
}

.filedetails {
  display: flex;
  flex-direction: column;
  gap: 0.4vw;
  margin-top: 1.5vw;
  justify-content: center;
  align-items: center;
}

button {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}